<body>
    <%- include('partials/navigation') %>
    <%- body %>
    <div id="footer">FOOTER</div>
    
</body>

<!--style>
    #footer{
        color: blueviolet;
        border: 20px;
        border-style: dotted;
        background: black;  
        text-align: center;
    }
</style-->

